<a href="https://colab.research.google.com/github/nergury0304/colab/blob/main/3123%ED%95%9C%EC%9C%A4%EC%84%B1(%EB%85%BC%EC%88%A0%ED%98%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2022학년도 응용프로그레밍 개발 - 논술형 컴퓨터과 3학년 1반 23번 한윤성

In [5]:
num1 = int(input("숫자1 = "))
num2 = int(input("숫자2 = "))
result1=num1+num2
result2=num1-num2
result3=num1*num2
result4=num1/num2
result5=num1%num2
result6=num1**num2
result7 = num1 // num2
print(num1,"+",num2,"=",result1)
print(num1,"-",num2,"=",result2)
print(num1,"*",num2,"=",result3)
print(num1,"/",num2,"=",result4)
print(num1,"%",num2,"=",result5)
print(num1,"**",num2,"=",result6)
print(num1,"//",num2,"=",result7)

숫자1 = 6
숫자2 = 3
6 + 3 = 9
6 - 3 = 3
6 * 3 = 18
6 / 3 = 2.0
6 % 3 = 0
6 ** 3 = 216
6 // 3 = 2