<a href="https://colab.research.google.com/github/nergury0304/colab/blob/main/lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#방법1
print("난생처음 파이썬은 즐겁다")
print("난생처음 파이썬은 즐겁다")
print("난생처음 파이썬은 즐겁다")

In [1]:
#방법2
for i in range(3) :
  print("즐 겁 다")

즐 겁 다
즐 겁 다
즐 겁 다

In [3]:
myList = ["해병","공군","육군"]
for i in myList:
  print(i)

해병
공군
육군

In [13]:
f = 1
sum =0
for i in range (1,100,2):
  if f == 1 :
    sum = sum + i
    f = f * - 1
  else:
    sum = sum-i
    f = f * - 1
print(sum)

-50

In [11]:
f=1
fn=5
for i in range(1,fn + 1,1):
  f = f * i
print("A,B,C,D,E 학생들을 기열 :",f)

A,B,C,D,E 학생들을 기열 : 120

In [15]:
i,h=0,0

for i in range(1001,2001,2):
  h+=1
print("1000에서 2000까지의 홀수 전우애 : ",h)

1000에서 2000까지의 홀수 전우애 :  500

In [21]:
for i in range(3):
  for k in range(2):
    print("(쎼끼 기열 i:",i,"k:",k,")")

(쎼끼 기열 i: 0 k: 0 )
(쎼끼 기열 i: 0 k: 1 )
(쎼끼 기열 i: 1 k: 0 )
(쎼끼 기열 i: 1 k: 1 )
(쎼끼 기열 i: 2 k: 0 )
(쎼끼 기열 i: 2 k: 1 )